<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/minilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thriftly"
        tools:targetApi="31">

        <activity
            android:name=".Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.ChatMainActivity"
            android:exported="false" />

        <activity
            android:name=".UI.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Authen.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Authen.EmailVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".Authen.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.EditProductActivity"
            android:exported="false" /> <!-- AddProductActivity -->
        <activity
            android:name=".UI.AddProductActivity"
            android:exported="true" /> <!-- WelcomeActivity -->
        <activity
            android:name=".Authen.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SignInActivity -->
        <activity
            android:name=".Authen.SignInActivity"
            android:exported="false" /> <!-- SignUpActivity -->
        <activity
            android:name=".Authen.SignUpActivity"
            android:exported="false" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true" />

        <service
            android:name=".Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>